<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marte</title>
</head>
<body>
    <h1>Marte</h1>
    <p>Marte es el cuarto planeta más cercano al Sol y el segundo planeta más pequeño del sistema solar. Tiene un diámetro de aproximadamente 6,779 kilómetros y una órbita que dura 687 días terrestres. Su atmósfera es muy delgada, compuesta principalmente por dióxido de carbono, con una presión superficial muy baja. Tierra tiene dos satélites naturales: Fobos y Deimos. Es conocido por su color rojizo debido a la presencia de óxido de hierro en su superficie. Ha sido explorado por varias misiones espaciales, incluyendo las sondas Viking, Mars Pathfinder, y la misión Perseverance de la NASA.</p>
</body>
</html>