<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neptuno</title>
</head>
<body>
    <h1>Neptuno</h1>
    <p>Neptuno es el octavo planeta más cercano al Sol y el cuarto planeta más grande del sistema solar. Tiene un diámetro de aproximadamente 49,244 kilómetros y una órbita que dura 60,190 días terrestres. Su atmósfera está compuesta principalmente por hidrógeno, helio y metano, con nubes de amoníaco y agua que le dan su característico color azul. Neptuno tiene al menos 14 satélites naturales conocidos, incluyendo la luna Tritón, que es la más grande de los satélites principales. Es conocido por su viento extremo, que puede alcanzar velocidades de hasta 2,100 kilómetros por hora. Ha sido explorado por varias misiones espaciales, incluyendo la sonda Voyager 2 de la NASA.</p>
</body>
</html>