<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planetas</title>
</head>
<body>
    <h1><center>Planetas</center></h1>
    <p><center>Empecemos poniendo links con acceso a su link</center></p>
    <center>
    <a href="mercurio">Mercurio</a>
    <a href="venus">Venus</a>
    <a href="tierra">Tierra</a>
    <a href="marte">Marte</a>
    <a href="jupiter">Júpiter</a>
    <a href="saturno">Saturno</a>
    <a href="urano">Urano</a>
    <a href="neptuno">Neptuno</a></center>
<br>
    <center><img src="https://www.nationalgeographic.com.es/medio/2022/07/07/los-planetas-del-sistema-solar_ad120a4d_1200x630.jpg" alt="Planetas del Sistema Solar" width="500"></center>
</body>
</html>