<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tierra</title>
</head>
<body>
    <center><h1>Tierra</h1></center>
    <p>Tierra es el tercer planeta más cercano al Sol y el único conocido por albergar vida. Tiene un diámetro de aproximadamente 12,742 kilómetros y una órbita que dura 365.25 días terrestres. Su atmósfera está compuesta principalmente por nitrógeno y oxígeno, lo que permite la existencia de agua líquida en su superficie, una condición esencial para la vida tal como la conocemos. Tierra tiene un satélite natural, la Luna, que influye en las mareas y en el clima del planeta. Es el único planeta del sistema solar con vida conocida, y su superficie está cubierta de océanos, continentes y una variedad de ecosistemas.</p>
    <center><a href="planetas">Regresar a planetas</a></center>
    <center><img src="https://tse1.mm.bing.net/th/id/OIP.eEeW_wEH4862_qSUryISAgHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" alt="Tierra" width="300"></center>
</body>
</html>