<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venus</title>
</head>
<body>
    <center><h1>Venus</h1></center>
    <p>Venus es el segundo planeta más cercano al Sol y el más similar en tamaño y masa a la Tierra. Su diámetro es de aproximadamente 12,104 kilómetros, lo que lo convierte en el planeta más grande del sistema solar después de Júpiter. Su órbita dura 225 días terrestres. Venus tiene una atmósfera extremadamente densa compuesta principalmente por dióxido de carbono, con nubes de ácido sulfúrico que reflejan gran parte de la luz solar, lo que lo hace brillar intensamente en el cielo. Debido a su atmósfera densa y su efecto invernadero extremo, su superficie puede alcanzar temperaturas de hasta 462°C, siendo la más caliente del sistema solar. No tiene satélites naturales y es visible desde la Tierra como una estrella brillante en el cielo matutino o vespertino.  Ha sido explorado por varias misiones espaciales, incluyendo las sondas Venera de la Unión Soviética y la misión Magallanes de la NASA, que han proporcionado valiosa información sobre su geología y atmósfera. A pesar de las condiciones extremas en su superficie, Venus sigue 
    siendo un objeto de gran interés científico debido a su similitud con la Tierra y los procesos atmosféricos que ocurren en él.</p>
    <center><a href="planetas">Regresar a planetas</a></center>
    <center><img src="https://wallpaperaccess.com/full/3640653.jpg" alt="Venus" width="300"></center>
    
</body>
</html>